<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muse.manager.statistics.mapper.MessageSendStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.muse.manager.statistics.model.MessageSendStatistics">
    <!--@mbg.generated-->
    <!--@Table muse.message_send_statistics-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="msid" jdbcType="BIGINT" property="msid" />
    <result column="receiver_size" jdbcType="BIGINT" property="receiverSize" />
    <result column="receiver_success" jdbcType="BIGINT" property="receiverSuccess" />
    <result column="receiver_fail" jdbcType="BIGINT" property="receiverFail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, msid, receiver_size, receiver_success, receiver_fail, create_time, update_time, 
    `valid`, remark
  </sql>
  <select id="selectByExample" parameterType="com.muse.manager.statistics.model.MessageSendStatisticsExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from muse.message_send_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from muse.message_send_statistics
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from muse.message_send_statistics
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.muse.manager.statistics.model.MessageSendStatisticsExample">
    <!--@mbg.generated-->
    delete from muse.message_send_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.muse.manager.statistics.model.MessageSendStatistics" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into muse.message_send_statistics (msid, receiver_size, receiver_success, 
      receiver_fail, create_time, update_time, 
      `valid`, remark)
    values (#{msid,jdbcType=BIGINT}, #{receiverSize,jdbcType=BIGINT}, #{receiverSuccess,jdbcType=BIGINT}, 
      #{receiverFail,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.muse.manager.statistics.model.MessageSendStatistics" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into muse.message_send_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msid != null">
        msid,
      </if>
      <if test="receiverSize != null">
        receiver_size,
      </if>
      <if test="receiverSuccess != null">
        receiver_success,
      </if>
      <if test="receiverFail != null">
        receiver_fail,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="valid != null">
        `valid`,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msid != null">
        #{msid,jdbcType=BIGINT},
      </if>
      <if test="receiverSize != null">
        #{receiverSize,jdbcType=BIGINT},
      </if>
      <if test="receiverSuccess != null">
        #{receiverSuccess,jdbcType=BIGINT},
      </if>
      <if test="receiverFail != null">
        #{receiverFail,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.muse.manager.statistics.model.MessageSendStatisticsExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from muse.message_send_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update muse.message_send_statistics
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.msid != null">
        msid = #{record.msid,jdbcType=BIGINT},
      </if>
      <if test="record.receiverSize != null">
        receiver_size = #{record.receiverSize,jdbcType=BIGINT},
      </if>
      <if test="record.receiverSuccess != null">
        receiver_success = #{record.receiverSuccess,jdbcType=BIGINT},
      </if>
      <if test="record.receiverFail != null">
        receiver_fail = #{record.receiverFail,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.valid != null">
        `valid` = #{record.valid,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update muse.message_send_statistics
    set id = #{record.id,jdbcType=BIGINT},
      msid = #{record.msid,jdbcType=BIGINT},
      receiver_size = #{record.receiverSize,jdbcType=BIGINT},
      receiver_success = #{record.receiverSuccess,jdbcType=BIGINT},
      receiver_fail = #{record.receiverFail,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      `valid` = #{record.valid,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.muse.manager.statistics.model.MessageSendStatistics">
    <!--@mbg.generated-->
    update muse.message_send_statistics
    <set>
      <if test="msid != null">
        msid = #{msid,jdbcType=BIGINT},
      </if>
      <if test="receiverSize != null">
        receiver_size = #{receiverSize,jdbcType=BIGINT},
      </if>
      <if test="receiverSuccess != null">
        receiver_success = #{receiverSuccess,jdbcType=BIGINT},
      </if>
      <if test="receiverFail != null">
        receiver_fail = #{receiverFail,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        `valid` = #{valid,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muse.manager.statistics.model.MessageSendStatistics">
    <!--@mbg.generated-->
    update muse.message_send_statistics
    set msid = #{msid,jdbcType=BIGINT},
      receiver_size = #{receiverSize,jdbcType=BIGINT},
      receiver_success = #{receiverSuccess,jdbcType=BIGINT},
      receiver_fail = #{receiverFail,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `valid` = #{valid,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update muse.message_send_statistics
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="msid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.msid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="receiver_size = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.receiverSize,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="receiver_success = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.receiverSuccess,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="receiver_fail = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.receiverFail,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="`valid` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.valid,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into muse.message_send_statistics
    (msid, receiver_size, receiver_success, receiver_fail, create_time, update_time, 
      `valid`, remark)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.msid,jdbcType=BIGINT}, #{item.receiverSize,jdbcType=BIGINT}, #{item.receiverSuccess,jdbcType=BIGINT}, 
        #{item.receiverFail,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.valid,jdbcType=TINYINT}, #{item.remark,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.muse.manager.statistics.model.MessageSendStatistics" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into muse.message_send_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      msid,
      receiver_size,
      receiver_success,
      receiver_fail,
      create_time,
      update_time,
      `valid`,
      remark,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{msid,jdbcType=BIGINT},
      #{receiverSize,jdbcType=BIGINT},
      #{receiverSuccess,jdbcType=BIGINT},
      #{receiverFail,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{valid,jdbcType=TINYINT},
      #{remark,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      msid = #{msid,jdbcType=BIGINT},
      receiver_size = #{receiverSize,jdbcType=BIGINT},
      receiver_success = #{receiverSuccess,jdbcType=BIGINT},
      receiver_fail = #{receiverFail,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `valid` = #{valid,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.muse.manager.statistics.model.MessageSendStatistics" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into muse.message_send_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="msid != null">
        msid,
      </if>
      <if test="receiverSize != null">
        receiver_size,
      </if>
      <if test="receiverSuccess != null">
        receiver_success,
      </if>
      <if test="receiverFail != null">
        receiver_fail,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="valid != null">
        `valid`,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="msid != null">
        #{msid,jdbcType=BIGINT},
      </if>
      <if test="receiverSize != null">
        #{receiverSize,jdbcType=BIGINT},
      </if>
      <if test="receiverSuccess != null">
        #{receiverSuccess,jdbcType=BIGINT},
      </if>
      <if test="receiverFail != null">
        #{receiverFail,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="msid != null">
        msid = #{msid,jdbcType=BIGINT},
      </if>
      <if test="receiverSize != null">
        receiver_size = #{receiverSize,jdbcType=BIGINT},
      </if>
      <if test="receiverSuccess != null">
        receiver_success = #{receiverSuccess,jdbcType=BIGINT},
      </if>
      <if test="receiverFail != null">
        receiver_fail = #{receiverFail,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null">
        `valid` = #{valid,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>